<div id='sitemap' class='row'>
    <div class='column col-md-4'>
         <h4>Recent Blogs</h4>
         <ul>
           <li><a href="/management/2015/06/27/leading-team-for-innovation.html">Leading team for innovation</a></li>
           <li><a href="/governance/2015/05/19/who-define-culture-people-or-governance.html">Who define culture people or governance</a></li>
         </ul>
    </div>
    <div class=' column col-md-4'>
      <h4>Most Visited Pages</h4>
      <ul>
        <li> <a href="/self/careers">Credentials - Career</a></li>
        <li> <a href="/projects">Projects</a></li>
      </ul>
    </div>
    <div class='column col-md-4'>
      <h4>Contat Me</h4>
      <div class="row">
        <div class="col col-md-4">email:</div>
        <div class="col col-md-8">maheshwari.vineet@gmail.com</div>
        <div class="col col-md-4">phone:</div>
        <div class="col col-md-8">+91 9899799105</div>
      </div>
    </div>
</div>